<h1>Listing of all restaurants</h1>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <h2><%= restaurant.name %></h2>
      <p><%= restaurant.category %></p>
    </li>
    <% end %>
</ul>
